<!-- barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="col-lg-10 col-sm-1" id="navbar">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" aria-current="page" href="contacto">Contacto</a></li>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <form class="d-flex mx-2">
                  <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Registrate</a>
                  </li>
                </ul>
              </div>
        </ul>
    </div>
</nav>
<div class="container">
    <h1 class="display-3 text-center">Encuentra todo en películas del cine mundial!!!</h1>
  </div>
  <div class="col-12 mb-2">    
    <img  class="img-fluid rounded col-12"  src="assets/img/titulo1.png" alt="Películas">
</div>