.actor {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: black;
}
.actor img {
  width: 100px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 5px;
  background-color: black;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

